# Temporary files
*.tmp
*.temp

# Log files
*.log

# Backup files
*.bak
*.sql~

# Environment variables
.env

# Database files
*.db
*.sqlite

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Others
*.swp
*.swo
__pycache__/